html{
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    margin: 0;
    margin-left: 10vw;
    margin-right: 10vw;
}
@font-face {
    font-family: nordic;
    src: url(Norse-Bold.otf);
}
h1{
    font-family: nordic;
    color: white;
    font-size: max(1.5rem, 5vw, 3rem);
}
#imgs{
    display: flex;
    position: relative;
    width: 40%;
    margin: 0;
    padding: 0;
    justify-content: center;
}
#imgs,
#form-container{
    height: 100%;
}
#form-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    color: black;
}
#main-bg{
    width: 100%;
}
#logo-container{
    position: absolute;
    top: 25%;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 2%;
    padding-bottom: 2%;
}
#logo{
    height: 100%;
}
#credit{
    position: absolute;
    bottom:0;
    color: white;
}
#imgs a{
    color: white;
}