html{
    box-sizing: border-box;
    background-color: rgb(35, 35, 35);
}
body{
    display: flex;
    height: 100vh;
    margin: 0;
    margin-left: 10vw;
    margin-right: 10vw;
}
@font-face {
    font-family: nordic;
    src: url(Norse-Bold.otf);
}
h1{
    font-family: nordic;
    color: white;
    font-size: max(1.5rem, 5vw, 3rem);
}
input{
    all:initial;
    padding-left: 1%;
    height: 35%;
    border-radius: 5px;
    border: 2px solid #E5E7EB;
}
input:hover{
    border: 2px solid #596D48;
}
input:focus{
    border: 2px solid blue !important;
    box-shadow: 3px 3px 5px lightgray;
}
button{
    height: max(32px, 40px, 48px);
    width: max(128px, 192px, 256px);
    background-color: #596D48;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 3%;
}
button:hover{
    background-color: #2a3322;
}
#imgs{
    display: flex;
    position: relative;
    width: 40%;
    margin: 0;
    padding: 0;
    justify-content: center;
}
#imgs,
#form-section{
    height: 100%;
}
#form-section{
    width: 60%;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(248, 248, 248);
}
#main-bg{
    width: 100%;
}
#logo-container{
    position: absolute;
    top: 25%;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 2%;
    padding-bottom: 2%;
}
#logo{
    height: 100%;
}
#credit{
    position: absolute;
    bottom:0;
    color: white;
}
#imgs a{
    color: white;
}
#header,
#footer{
    height: 33%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 3%;
}
#header{
    justify-content: flex-end;
    padding-bottom: 5%;
    padding-right: 15%;
}
#footer{
    padding-top: 5%;
}
#form-container{
    height: 33%;
    box-sizing: border-box;
    padding-right: 5%;
    background-color: white;
    box-shadow: -2px 5px 5px lightgrey, -2px -1px 5px lightgray;
    padding-left: 3%;
    padding-bottom: 3%;
}
#form-container h3{
    height: 10%;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}
#log-in{
color: #596D48;
font-weight: 900;
}
.row{
    display: flex;
    height: 30%;
    align-items: center;
}
.form-field{
    display: flex;
    flex-direction: column;
    width: 45%;
    box-sizing: border-box;
    padding-right: 15%;
    height: 100%;
    justify-content: center;
}
